In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xlsxwriter as xl
import itertools as it

In [2]:
dat = pd.read_excel(r"F:\CMP\SThota work\Compounds\La0.5Nd0.5 series\Co0.5Mn0.5\Dielectric\LNCMO-50%\lncmo-50-55C-525C-31-07-2022.xlsx")
dat.head()

                 Unnamed: 1   .1    .2
0       Temp(째C)         55
1  Frequency(Hz)          C    D     Z
2            100    0.00844  377  62.4
3            132    0.00219  509  61.5
4            174    0.00481  697    61

In [3]:

dat.iloc[:, 2]
dat = dat[(dat.iloc[:,1] != 9.90E+37)]
dat = dat[(dat.iloc[:,2] != 9.90E+37)]
dat = dat[(dat.iloc[:,3] != 9.90E+37)]
dat.head()

                 Unnamed: 1   .1    .2
0       Temp(째C)         55
1  Frequency(Hz)          C    D     Z
2            100    0.00844  377  62.4
3            132    0.00219  509  61.5
4            174    0.00481  697    61

In [4]:
dat.to_excel(r"F:\CMP\SThota work\Compounds\La0.5Nd0.5 series\Co0.5Mn0.5\Dielectric\LNCMO-50%\lncmo-freqvar-clean.xlsx")