In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xlsxwriter as xl

In [4]:


dat = pd.read_csv(r"F:\CMP\SThota work\Compounds\La0.5Nd0.5 series\Co0.5Mn0.5\Dielectric\LNCMO-50%\lncmo-50-55C-525C-31-07-2022.csv")
dat.head()

C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,1,2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

                 Unnamed: 1        .1        .2  50
0       Temp(�C)         55                      50
1  Frequency(Hz)          C         D         Z  50
2       1.00E+02   8.44E-03  3.77E+02  6.24E+01  50
3       1.32E+02   2.19E-03  5.09E+02  6.15E+01  50
4       1.74E+02   4.81E-03  6.97E+02  6.10E+01  50

In [5]:
def templist(n, s):
    f = np.array(dat[dat.columns[0]].iloc[n:n+s-3])
    f = [float(i) for i in f]
    zn = np.array(dat[dat.columns[1]].iloc[n:n+s-3])
    zn = [float(i) for i in zn]
    pn = np.array(dat[dat.columns[2]].iloc[n:n+s-3])
    pn = [float(i) for i in pn]
    cn = np.array(dat[dat.columns[3]].iloc[n:n+s-3])
    cn = [float(i) for i in cn]
    dn = np.array(dat[dat.columns[4]].iloc[n:n+s-3])
    dn = [float(i) for i in dn]
    T = np.array([f, zn, pn, cn, dn])
    #print(T)
    
    return T

In [6]:
def freqset(k, t, t0, h, s):
    ds = [templist(n+j*s, s) for j in range(t)]
    z = [ds[j][1][k] for j in range(t)]
    p = [ds[j][2][k] for j in range(t)]
    c = [ds[j][3][k] for j in range(t)]
    d = [ds[j][4][k] for j in range(t)]
    T = [t0 + (i)*h for i in range(t)]
    f = [T, z, p, c, d]
    return f

In [7]:
n = input("First data point index in excel sheet: ")
n = int(n)
s = input("Cell spacing across temperatures: ")
s = int(s)
t0 = input("Starting temperature: ")
t0 = int(t0)
t = input("No of Temperature points: ")
t = int(t)
h = input("Temperature step size: ")
h = int(h)

First data point index in excel sheet: 2
Cell spacing across temperatures: 43
Starting temperature: 55
No of Temperature points: 95
Temperature step size: 5

In [10]:




data = [freqset(k, t, t0, h, s) for k in range(s-3)]
dataset = [pd.DataFrame(data[j]).T for j in range(s-3)]

for i in range(s-3):
    dataset[i].columns = ['Temp', dat.columns[1], dat.columns[2], dat.columns[3], dat.columns[4]]
    
with pd.ExcelWriter(r"F:\CMP\SThota work\Compounds\La0.5Nd0.5 series\Co0.5Mn0.5\Dielectric\LNCMO-50%\lncmo50 tempvar.xlsx", engine='xlsxwriter') as writer:
    for k in range(s-3):
        dataset[k].to_excel(writer, dat[dat.columns[0]].iloc[k+2])

In [11]:
dataset[k].head()

   Temp    Unnamed: 1    .1    .2    50
0  55.0 -9.540000e-10  2.36  85.7  50.0
1  60.0 -9.340000e-10  2.31  85.8  50.0
2  65.0 -9.220000e-10  2.28  85.5  50.0
3  70.0 -9.140000e-10  2.24  85.6  50.0
4  75.0 -9.010000e-10  2.20  85.5  50.0